td {
    padding: 10px;
    border:1px solid black;
    background-color: gold;
    
}

td img {
    transition: all 1.5s;
    transform-style: preserve-3d;
}

.clicked {
    opacity: 0.2;  
    transform: rotateZ( 360deg );
     
}

header {
    background-color: #252525;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.container {
    background-color: #ffffff;
    color: #4e4d4d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.panel {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
